<meta charset="utf-8">

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

{%- comment %} https://docs.google.com/presentation/d/1rmxwWa9P6_xHqonmh5ONXRS-jPc5XKbnv99Rjkhe04s/present {% endcomment -%}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
  {% if site.enable_copy_code_button -%}
    window.enable_copy_code_button = true;
  {%- endif %}
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="icon" type="image/png" href="/assets/images/logo.png">
<link rel="shortcut icon" href="/assets/images/logo.png">
<link rel="apple-touch-icon" href="/assets/images/logo.png">

<!-- Open Graph -->
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta property="og:image" content="{% if page.og_image %}{{ page.og_image | absolute_url }}{% elsif page.header.og_image %}{{ page.header.og_image | absolute_url }}{% elsif page.header.image %}{{ page.header.image | absolute_url }}{% else %}{{ site.og_image | absolute_url }}{% endif %}">
<meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">

<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css"></noscript>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
